{{#if obj}}
{{#obj}}
{{#each .}}
{{#if headline}}
<div id="articleCard" class="card">
  <h5 class="card-header">{{altHead}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{headline}}</h5>
    <p class="card-text">{{desc}}</p>
    <a href="{{link}}" target="_blank" class="btn btn-primary">Visit</a>
    {{#if saved}}
    <button id="saved" type="button" class="btn btn-success save" disabled>Saved</button>
    {{else}}
    <button data-id="{{_id}}" data-control="saveBtn" type="button" class="btn btn-success save">Save</button>
    {{/if}}
  </div>
</div>
{{/if}}
{{/each}}
{{/obj}}
{{else}}
<div class="card text-center">
  <h4 class="card-header">
    No Articles Scraped
  </h4>
  <div class="card-body">
    <p class="card-text">Click the Scrape button above to get some articles!</p>
  </div>
</div>
{{/if}}